extends layout

block content
    title= title
    h1 #{title}
    br
    p Example creation usage:
    code  https://url-shrt.herokuapp.com/https://www.google.com
    br
    code  https://url-shrt.herokuapp.com/https://www.youtube.com
    p Example creation output:
    code  {"original_url":"https://www.youtube.com","shorten-url":"https://url-gkazikas.c9users.io/1468"}
    p Usage:
    code  https://url-gkazikas.c9users.io/1468
    p Will redirect to:
    code https://www.youtube.com
    
    